<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Hit (32x32)_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{22,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,25}}</string>
				<key>sourceSize</key>
				<string>{22,25}</string>
			</dict>

			<key>Hit (32x32)_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,0},{26,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,21}}</string>
				<key>sourceSize</key>
				<string>{26,21}</string>
			</dict>

			<key>Hit (32x32)_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{28,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,19}}</string>
				<key>sourceSize</key>
				<string>{28,19}</string>
			</dict>

			<key>Hit (32x32)_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,32}</string>
			<key>textureFileName</key>
			<string>Die.png</string>
			</dict>
		</dict>
</plist>